.container {
  font-size: 14px;
  width: 40%;

  input {
    &::placeholder {
      font-size: 14px;
    }
  }

  button {
  }

  .error-message {
    float: right;
    font-size: 12px;
    color: red;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%
  }
}
